[submodule "themes/hello_friend"]
	path = themes/hello_friend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/simpleton"]
	path = themes/simpleton
	url = https://github.com/chrberrig/simpleton.git
