<!-- 0000-0001-9427-355X -->

<div itemscope itemtype="https://schema.org/Person">
        <a itemprop="sameAs" content="https://orcid.org/{{ .Get `orcid` }}" 
                                href="https://orcid.org/{{ .Get `orcid` }}" 
                                target="orcid.widget" 
                                rel="me noopener noreferrer" 
                                style="vertical-align:top;">
                <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">
                https://orcid.org/{{ .Get `orcid` }}
        </a>
</div>
<img src="/imgs/ORCID.png">
</p>

